@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  display: block;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

body.active-modal {
  overflow-y: hidden;
  z-index: 200;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.active-modal::-webkit-scrollbar {
  display: none;
}

a {
  transition: transform 0.2s, opacity 0.2s, border-color 0.2s ease-in-out,
    color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

* {
  boxing-size: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .h1 {
    @apply xd:text-[40px] text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply xd:text-[36px] text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply xd:text-[22px] text-[26px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px #ff4d4d;
  }

  .loader {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
  }
  .loader::before,
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 2px solid #333;
    animation: prixClipFix 2s linear infinite;
  }
  .loader::after {
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #ff3d00;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes prixClipFix {
    0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    75%,
    100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
